<a href="https://colab.research.google.com/github/vishi2000/AI/blob/main/ucb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import random
from functools import total_ordering

In [ ]:
data = pd.read_csv("Ads_Optimisation.csv")
data.head()

   Ad 1  Ad 2  Ad 3  Ad 4  Ad 5  Ad 6  Ad 7  Ad 8  Ad 9  Ad 10
0     1     0     0     0     1     0     0     0     1      0
1     0     0     0     0     0     0     0     0     1      0
2     0     0     0     0     0     0     0     0     0      0
3     0     1     0     0     0     0     0     1     0      0
4     0     0     0     0     0     0     0     0     0      0

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 10 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Ad 1    10000 non-null  int64
 1   Ad 2    10000 non-null  int64
 2   Ad 3    10000 non-null  int64
 3   Ad 4    10000 non-null  int64
 4   Ad 5    10000 non-null  int64
 5   Ad 6    10000 non-null  int64
 6   Ad 7    10000 non-null  int64
 7   Ad 8    10000 non-null  int64
 8   Ad 9    10000 non-null  int64
 9   Ad 10   10000 non-null  int64
dtypes: int64(10)
memory usage: 781.4 KB

In [ ]:

N = 10000
d = 10
ads_selected=[]
total_reward=0
for n in range(0,N):
  ad = random.randrange(d)
  ads_selected.append(ad)
  reward = data.values[n,ad]
  total_reward = total_reward + reward

In [ ]:
pd.Series(ads_selected).tail(1000).value_counts(normalize=True)

1    0.114
7    0.111
0    0.111
2    0.110
4    0.102
9    0.098
5    0.096
8    0.091
6    0.084
3    0.083
dtype: float64

In [ ]:
pd.Series(ads_selected).head(500).value_counts(normalize=True)

1    0.130
5    0.122
4    0.108
2    0.106
9    0.104
0    0.092
7    0.092
3    0.090
8    0.088
6    0.068
dtype: float64

In [ ]:
pd.Series(ads_selected).head(1000).value_counts(normalize=False)

4    121
2    116
1    108
5    106
9    105
0     99
8     96
7     89
3     83
6     77
dtype: int64

In [ ]:
import math
N = 10000
d = 10
ads_selected = []
numbers_of_selections = [0]*d
sums_of_reward=[0]*d
total_reward=0
for n in range(0,N):
  ad=0
  max_upper_bound=0

In [ ]:
from pandas.core.arrays.boolean import numbers
for n in range(0,n):
  ad=0
  max_upper_bound = 0
  for i in range (0,d):
    if(numbers_of_selections[i]>0):
      average_reward=sums_of_reward[i]/numbers_of_selections[i]
      delta_i=math.sqrt(2*math.log(n+1)/numbers_of_selections[i])
    else:
      upper_bound=1e400
    if upper_bound> max_upper_bound:
      max_upper_bound=upper_bound
      ad=i
    ads_selected.append(ad) 
    numbers_of_selections[ad]+=1
    reward=data.values[n,ad]
    sums_of_reward[ad]+=reward
    total_reward+=reward

In [ ]:
pd.Series(ads_selected).tail(1500).value_counts(normalize=True)

0    1.0
dtype: float64